#main {
    text-align: center;
}

 #header {
    background-color: #4A4063;
    color: #4D7298;
    
} 

.contador{
    font-size: 25px;
    color: #D0EFB1;
    /* margin: 0px; */
    background-color: #74D4A0;
}

.resultado {
    font-size: 50px;
    color: gray;
    /*margin: 10px 500px;*/
    background-color: #f5ffb3;
    /*padding: 10px;*/
    border-radius: 5px;
    border:1px solid #ccc;
    /*box-shadow: 0px 0px 7px ;*/
    height: 100px;
       
}

 /* #footer {
    background-color: #BFACC8;
    padding: 10px;

}  */

.buttoms {
    background-color: #4A4063;
    color: white;
    font-size: 20px;
    padding: 10px;
    margin: 5px;    
}

h1 {
    margin: 0px;
}

body{
    margin: 0px;
}

#notification{
    background-color: red;
    font-size: 22px;
    /* height: 50px; */
    width: 33%;
    margin-left: 33%;
    display: none;
}

#answer{
    display: none; 
    background-color:#2CC1F1;  
    font-size: 40px; 
    width: 50%;
    margin-left: 25%; 
    margin-top: 30px;   
}

#help{
    text-align: left;
    /* width: 25%; */
    margin-left: 35%;    
    margin-right: 35%;
    /* background-color:#2CC1F1;      */
    margin-top: 50px;
}