.main {
    text-align: center;
}

 #header {
    background-color: #4A4063;
    color: #4D7298;    
} 

.contador{
    font-size: 25px;
    color: #9068be;
    background-color: #74D4A0;
} 

.resultado {
    font-size: 50px;
    color: gray;
    background-color: #f5ffb3;
    padding: 30px;
    border-radius: 5px;
    border:1px solid #ccc;
}

.buttoms {
    font-size: 20px;
    margin: 5px;    
}

#answer{
    font-size: 35px; 
}

#help{
    text-align: left;
}

.topic{
    background-color: #c5d5cb;
    padding: 20px;
    font-size: 20px;
}

.progress_bar_container {
    background-color: #D4AFB9;
    width: 100%;
    padding: 0px;
}

#percent {
    height: 24px;
    background-color: #0B7A75;
    color: #F7F5F6;
    font-size: 20px;    

}

.topic_dropdown{
    background-color: #C0C5C1;
    font-size: 17px;
    color: #4A4063;
}

